//META{"name":"Cypaa_ Theme(NetronX Background)","description":"The Cypaa_ Bascic Theme with the NetronX theme background image, by Cypaa_","author":"Cypaa_","version":"NetronX"}*//





/*
====================================================
====================================================

# Discord-Theme
All of the Discord Themes in this repertory are by Cypaa_#1778. Respect the works of others.

Youtube : https://www.youtube.com/channel/UCFVRnCbnuk8tGeWzqC2P_Mw
Discord : Cypaa_#1778

Other work:
Lucie (Discord Bot) : https://discordapp.com/oauth2/authorize?client_id=477068116753383424&scope=bot&permissions=2146958847

====================================================
====================================================
*/





/*=======================================================Menu des Parametres=====================================================*/

:root {
    --bgImage:url('https://raw.githubusercontent.com/Cypaaa/Discord-Theme/master/Cypaa_%20x%20NetronXFont/NetronX-Background.jpg');
    --brightness: 0.4;
    --versionText: "v1.4";
    --version: "NeutronX Background";
}

/*Transparence des conteneurs*/
  /*General*/
    .chat-3bRxxu{background-color:rgba(0,0,0,.05)}
    .theme-dark{--background-secondary:rgba(0,0,0,.05);--background-tertiary:rgba(0,0,0,.05)}
    .container-1D34oG, .themed-ANHk51, .scroller-2FKFPG{background-color:rgba(0,0,0,0)!important}
    .panels-j1Uci_, .itemCard-v9viV7, .section-2gLsgF, .webkit-HjD9Er{background-color:rgba(0,0,0,0.6);border-radius:7px;}
        .emojiPicker-3m1S-j, .emojiPicker-3m1S-j .infoBar-U6oBFk,.emojiPicker-3m1S-j .searchBar-2pWH0_{background-color:rgba(0,0,0,.5)!important;border-radius:8px;}
  /*Menu des parametres*/
    .standardSidebarView-3F1I7i{background:0 0}
    .contentRegion-3nDuYy{background-color:rgba(0,0,0,.4)}
    .sidebarRegion-VFTUkN{background-color:rgba(0,0,0,.65)}
    .lookFilled-1Gx00P.colorBrand-3pXr91{background-color:rgba(32,197,119,.9)}
    .container-2lgZY8,.layer-3QrUeG,.layers-3iHuyZ{background:0 0!important}
    .cardPrimary-1Hv-to,.cardPrimaryEditable-3KtE4g{background-color:rgba(0,0,0,.5);border:none}

/*Personnalisation objets*/
  /*Barre Haute(retressir/plein ecran/close)*/
    .typeWindows-1za-n7{background-color:rgba(0,0,0,.75);margin:0;height:23px}
  /*Scroller*/
    .scroller-2FKFPG::-webkit-scrollbar{width: 5px;}
    .scroller-2FKFPG::-webkit-scrollbar-thumb{background-color: white!important;}
    .scroller-2FKFPG::-webkit-scrollbar-thumb{background-color: white!important;border:transparent;}
    .scroller-2FKFPG::-webkit-scrollbar-track-piece{background:transparent!important;border:none!important;}

/*========================================================Membre du serveur=======================================================*/
/*Personnalisation objets*/
  /*Transition Barre Général*/
    .content-3xS9Lh:hover .avatarContainer-2inGBK,
    .content-3xS9Lh:hover .avatar-3elDyV,
    .content-3xS9Lh:hover .avatarSmall-2CW6I1 svg{transform: scale3d(-1,1,1);transition-duration: 1s;} /*Logo des Membres en vocal*/
    .content-3xS9Lh:hover .avatarContainer-2inGBK:hover,
    .content-3xS9Lh:hover .avatar-3elDyV:hover,
    .content-3xS9Lh:hover .avatarSmall-2CW6I1:hover svg{transform: scale3d(1,1,1);} /*Logo des Membres en vocal*/
    .layout-2DM8Md{padding: 0 3px;} /*Nom + Logo + Activité des Membres*/
    .membersWrap-2h-GB4:hover{width: 240px;}
    .membersWrap-2h-GB4 .scrollerWrap-2lJEkd{width: 55px;}
    .container-3baos1:hover .wrapper-3t9DeA svg{transform: scale3d(-1,1,1);} /*Logo de L'utilisateur ( a coté de couper le micro/casque/parametre)*/
    .wrapper-3t9DeA svg{transform: scale3d(1,1,1);transition: all 0.5s ease;} /*Tous les logo des Membres*/
    .headerCozy-2N9HOL:hover .wrapper-3t9DeA svg{transform: scale3d(-1,1,1);} /*Logo+Nom du Membre dans le chat*/
    .container-3baos1:hover .wrapper-3t9DeA:hover svg{transform: scale3d(1,1,1);} /*Logo de L'utilisateur ( a coté de couper le micro/casque/parametre)*/
    .headerCozy-2N9HOL:hover .wrapper-3t9DeA:hover svg{transform: scale3d(1,1,1);} /*Logo+Nom du Membre dans le chat*/
    .membersWrap-2h-GB4:hover .content-3QAtGj{transform: scale3d(1,1,1);font-size:16px;} /*Nom des Membres quand la souris est sur la Barre*/
    .membersWrap-2h-GB4:hover .membersGroup-v9BXpm{font-size: 12px;transform: translateX(0);} /*Nom des Roles quand la souris est sur la Barre*/
    .membersWrap-2h-GB4 {width: 55px;position: relative;min-width: unset;transition: ease .25s, color 1s;} /*Barre des membres co*/
    .membersGroup-v9BXpm{color: #FF1F00;font-size: 0px;transition: all 0.75s ease;transform: translateX(100%);} /*Nom des Roles*/
    .membersWrap-2h-GB4 .content-3QAtGj{font-size:0px;transform:scale3d(0,-2,0);transition: all 1.25s ease;transition-delay: .25s;} /*Nom des Membres*/

  /*Colorations*/
    /*Nom salons*/
      .scroller-2wx7Hm .name-3_Dsmg{color: #00B9FF;} /*Nom des vocaux*/
      .userLimit-64AFxe .wrapper-pZmgj4{color: #ABABAB;} /*Case donnant le nombre de personne max dans un vocal (ex: 01/07)*/
      .scroller-2wx7Hm .container-2ax-kl{color: #0059FF;} /*Nom des categories*/
      .scroller-2wx7Hm:hover .name-3_Dsmg{color: #00B9FF;} /*Nom des vocaux*/
      .scroller-2wx7Hm .name-3_Dsmg:hover{color: #008ACF;} /*Nom des vocaux quand la souris est dessus*/
      .userLimit-64AFxe .users-i_3-kL{background: #2A2A2A;} /*Nombre correspondant a n dans n/m (ex: pour 03/07, n correspond a 03)*/
      .userLimit-64AFxe .total-3tKGEB{background: #1A1A1A;} /*Nombre correspondant a m dans n/m (ex: pour 02/12, m correspond a 12)*/
      .scroller-2wx7Hm:hover .container-2ax-kl{color: #0059FF;} /*Nom des categories quand la souris est dans la zone de Liste*/
      .scroller-2wx7Hm .container-2ax-kl:hover{color: #002BFF;} /*Nom des categories quand la souris passe dessus*/
      .userLimit-64AFxe .total-3tKGEB:after {border-right-color: #1A1A1A;}
    /*Liste des serveur*/
      .expandedFolderIconWrapper-1xLaU- path{color: #43b581;} /*Logo Dossier, Groupe Serveur*/


/*Background quand tu click sur le profil de qqn*/
.headerPlaying-j0WQBV{
  background: rgba(0,0,150,0.9)!important;
}
.headerNormal-T_seeN, .footer-1fjuF6, .quickMessage-1yeL4E{
  background-color: rgba(0,0,0,.8)!important;
}
.body-3iLsc4{
  background-color: rgba(0,0,0,.6)!important;
}

.animatorLeft-1EQxU0{
  border-radius: 8px;
  background-color: rgba(0,0,100);
  background-image: url("https://cdn.discordapp.com/attachments/568597156466786310/688809264134881544/GameFont.png");
  background-repeat: repeat;
  background-size: 200%;
  background-position: center;
  animation-duration: 10s;
  animation-name: mouvementFondActivite;
  animation-iteration-count: infinite;
  animation-direction:;
  animation-delay: 0s;
}

@keyframes mouvementFondActivite {
  0%,100%{
    background-position: center;
  }
  25% {
    background-position: top right;
  }
  50% {
    background-position: bottom;
  }
  75% {
    background-position: left;
  }
}
